.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
	border-radius: 15px;
}

li.list-group-item.active {
	background-color: #fff;
	border-color: #009933;
    border-left:solid 10px #009933;
}

li.list-group-item:hover {
	background-color: #009933;
	font-size: large;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
	color: #212529;
}

h4 {
	color: #009933 !important;
}

h5 {
	text-align: center;
}

.abotao {
	color:white;
}

.abotao:hover {
	text-decoration: none;
	color:white;
}

#logout {
	border-color: red;
	border-left:solid 10px red;
	text-align: center;
	font-size: large;
	margin-top: 25px;
	border-radius: 15px;
}

#logout:hover {
	background-color: red;
	font-size: larger;
}

#voltar {
	border-color: #17a2b8;
    border-left:solid 10px #17a2b8;
	text-align: center;
}

#voltar:hover {
	background-color: #17a2b8;
	font-size: larger;
}

.disabled-icon {
	opacity: 0.6;
	cursor: not-allowed;
}

#hrefaqui {
	color: #009933;
}

#hrefaqui:hover {
	color: #058630;
	text-decoration: none;
}